body {
  margin: 0;
  /* background-color: #202020; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo_marker {
  min-height: 35px;
  min-width: 35px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-lg {
  border-radius: 1em;
}

.pointer {
  cursor: pointer;
}